.grid-container{
    display: grid;
    height: 100vh;

    grid-template-columns: 20px 1fr 2fr 20px;
    grid-template-rows: 1fr 0.6fr 6fr 1fr;
    grid-template-areas: 
    ". header header ."
    ". nav nav ."
    ". sidebar main ."
    ". footer footer .";

}

#grid-container-webshop{
    grid-template-areas: 
    ". header header ."
    ". nav nav ."
    ". main main ."
    ". footer footer .";

}

header{
    grid-area: header;
    background-color: var(--primary-color)
}
.nav{
    grid-area: nav;
    background-color: black;
}

/* My menu */
.nav ul{
    list-style-type: none ;

    padding: 0;
    margin: 0;

    overflow: hidden; 
}
.nav a{
    color: lightyellow;
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;

}

.nav a:hover{
   color: var(--accent-color)
}

.nav li{
    float: left;
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--primary-color);

}
.sidebar img{
    width: 58%;
}

main{
    grid-area: main;
    background-color: var(--primary-color);
  
}
.flex{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.flex img{
    flex-wrap: nowrap;
    width: 20%;

}

.flex div{
    width: 39%;
}
footer{
    grid-area: footer;
    background-color: var(--primary-color)
}

@media (max-width: 700px){
    .grid-container{
        display: grid;
        min-height: 100vh;
    
        grid-template-columns: 10px 1fr 10px;
       grid-auto-rows: minmax(100px, auto);
    
        grid-template-areas: 
        ". header ."
        ". nav ."
        ". sidebar ."
        ". main ."
        ". footer .";
   }
   nav {
    background-color: lightsteelblue;
   }
}

:root{

    --primary-color: creamwhite;
    --secondary-color: creamwhite;
    --accent-color: #c97936;
    --text-color: black; 
     
}

#startmain{
    display: flex;
    align-items: last baseline;
    justify-content: space-between;
    gap: 10px;

}
#startmain div{

  width: 70%;
}

#startmain img{
    width: 35%;
  
}

.form {
    width: 50%;
}
.innerform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}
.innerform label{
    width: 30%;
}
.innerform input{
    width: 50%;
}
.btn{
    width: 60%;
}